*.http
__pycache__
venv
.venv
*.pyc

.DS_Store

.vscode
.idea
*.iml

.env

.scrapper-e2e/benchmark-crawler/results
.scrapper-e2e/test-crawler/output
.scrapper-e2e/test-one-page-scrapping/output
.scrapper-e2e/test-one-page-scrapping/logs